@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Marquee animation for LandingPage */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: inline-flex;
  animation: marquee 30s linear infinite;
}